<!--<div class="notifications">-->
 <!--<div class="notice">You have update user successfully.</div>-->
<!--</div>-->


<div class="container px-5 px-sm-0">
  <div class="row">
    <!--User infoとNew book-->
    <%= render 'books/info' %>
    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td>user_image</td>
          <td>
            <%= link_to book_path(@book.id) do %>
              <%= @book.title %></td>
            <% end %>
          <td><%= @book.body %></td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book), class: 'btn btn-sm btn-success' %>
            <% end %>
          </td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book), class: 'btn btn-sm btn-danger',method: :delete %>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>    
  </div>
</div>
  
